* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /*position: absolute;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}

header {
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
}

.body {
    margin-top: 70px;
    padding: 0;
    transition: 0.5s;

}

div {
    margin: 0;
    padding: 0;
}

#main {
    /*position: absolute;*/
    /*width: 70%;*/
    /*background-color: #333333;*/
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #00BFFF;
}

.logout_btn {
    padding: 5px;
    background: #00BFFF;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover {
    background: #00BFFF;
}

.body .sidebar {
    background: #2f323a;
    /*margin-top: 8vh;*/
    padding-top: 30px;
    display: inline-block;
    position: fixed;
    width: 250px;
    height: 100%;
}

.body .sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.body .sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.body .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    /*transition-property: background;*/
}

.body .sidebar a:hover {
    background: #00BFFF;
}

.body .sidebar i {
    padding-right: 10px;
}

.body .sidebar a:active {
    background-color: #00BFFF
}

.active {
    background-color: #00BFFF
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #00BFFF;
}

#check:checked {
    color: #00BFFF;
}

#check:checked ~ .body {
    /*position: absolute;*/
    transition: 0.5s;
    margin-left: -190px;
    /*transform: translateX(-80%);*/
}

#check:checked ~ .body .sidebar a span {
    display: none;
}

#check:checked ~ .active {

}

#check:checked ~ .body .sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}


#check {
    display: none;
}
