<!--<div id="dashboard">-->
<app-dashboard></app-dashboard>
<div id="content" class="content">
    <h2>
        <span class="heading" id="delivered" (click)="viewDeliveredOrders()">Delivered </span>/
        <span class="heading" id="cancelled" (click)="viewCancelledOrders()">Cancelled </span>/
        <span class="heading" id="rejected" (click)="viewRejectedOrders()">Rejected </span>
    </h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Amount</th>
                <th>Payment Mode</th>
                <th>Payment Status</th>
                <th>Order Type</th>
                <th>Invoice</th>
            </tr>
            </thead>
            <tbody>

            <tr class="table-rows" *ngFor="let order of selectedOrders">
                <td>{{order.order_id}}</td>
                <td>{{order.user.name}}</td>
                <td>{{order.delivery_address}}</td>
                <td>{{order.amount - order.discount}}</td>
                <td>{{order.payment_mode}}</td>
                <td>{{order.payment_status}}</td>
                <td>{{order.order_type}}</td>
                <td><a (click)="downloadPdf(order.id)" style="color: darkred"><i class="fas fa-file-pdf"></i></a></td>
            </tr>
            <tbody>
        </table>

    </div>
</div>
<!--</div>-->
<!---->
