<app-dashboard></app-dashboard>
<div id="content" class="content">
  <h2>
    <span class="heading">Users</span>
  </h2>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Mobile No</th>
        <th>Email</th>
        <th>Address</th>
        <th>Wallet</th>
        <th>Referral Code</th>
      </tr>
      </thead>
      <tbody>

      <tr class="table-rows" *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.mobile_no}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.wallet}}</td>
        <td>{{user.referral_code}}</td>
      </tr>
      <tbody>
    </table>

  </div>
</div>
