<div class="list">
  <mat-radio-group aria-label="Select an option" [(ngModel)]="employeeId">
    <div class="mat-card" *ngFor="let employee of employees">
      <mat-radio-button [value]="employee.id">{{employee.name}}- {{employee.mobile_no}}</mat-radio-button>
    </div>
<!--    <div class="mat-card" *ngFor="let employee of employees">-->
<!--      <mat-radio-button value="{{employee.id}}">{{employee.name}}- {{employee.mobile_no}}</mat-radio-button>-->
<!--    </div>-->
<!--    <div class="mat-card" *ngFor="let employee of employees">-->
<!--      <mat-radio-button value="{{employee.id}}">{{employee.name}}- {{employee.mobile_no}}</mat-radio-button>-->
<!--    </div>-->
<!--    <div class="mat-card" *ngFor="let employee of employees">-->
<!--      <mat-radio-button value="{{employee.id}}">{{employee.name}}- {{employee.mobile_no}}</mat-radio-button>-->
<!--    </div>-->
<!--    <div class="mat-card" *ngFor="let employee of employees">-->
<!--      <mat-radio-button value="{{employee.id}}">{{employee.name}}- {{employee.mobile_no}}</mat-radio-button>-->
<!--    </div>-->
  </mat-radio-group>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button (click)="select(employeeId)">Select</button>
</div>
